@CHARSET "EUC-KR";

*{
	font-size: small;
}
#header{
	height: 20px;
	background-color: green;
}
#board{
	float:left;
	width: 80%;
	background-color: skyblue;
}
#status{
	float:right;
	width: 20%;
	background-color: blue;
}
#boardtable td:not(.dummy){
	width:100px;
	height:48px;
	text-align:center;
	background-color: gray;
	-moz-border-radius: 5px; /*모질라*/
	-webkit-border-radius: 5px; /*웹킷*/
	/*IE9+,FF4+,chrome,Safari5,+opera*/
	border-radius: 5px;
	opacity: 0.7;
}

#log{
	background-color: black;
	color: white;
	overflow: scroll;
	height: 500px;
}
*{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.f_bottom_1{
	color:green;
}
.f_bottom_2{
	color:yellow;
}
.f_bottom_3{
	color:red;
}

.name_player0{
	color: red;
	font-size: large;
}
.name_player1{
	color: blue;
	font-size: large;
}
.name_player2{
	color: green;
	font-size: large;
}
.name_player3{
	color: yellow;
	font-size: large;
}
#init_player0{
	width: 23%;
	float: left;
	background-color: silver;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 10px;
}
#init_player1{
	width: 23%;
	float: left;
	background-color: silver;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 10px;
}
#init_player2{
	width: 23%;
	float: left;
	background-color: silver;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 10px;}
#init_player3{
	width: 23%;
	float: left;
	background-color: silver;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 10px;
}

#initPage{
	text-align: center;
	margin: 50px;
	font-family: "맑은 고딕";
}
#connection{
	margin-top: 2px;
	margin-right: 5px;
	float: right;
	color: red;
}
#player_info{
	margin-top: 50px;
}
